<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type='text/javascript' src = 'static/js/base.js?v=7'>
</script>

  <center> 
    <title>FinVenture</title>
  </center>
    <link rel="stylesheet" type="text/css" href="static/css/basic.css" />
  </head>
  <body>
    <h1> FinVenture</h1>
        <h2> Your travel cost comparison guide. </h2>
  <p> How long is your stay? </p>
  <select name="Number of Days">
    <option value="one">one</option>
    <option value="two">two</option>
    <option value="three">two</option>
  </select>
  <p> How much are you willing to spend?</p>
  <select name="Budget">
    <option value="100">onehundred</option>
    <option value="200">twohundred</option>
    <option value="300">threehundred</option>
    <option value="400">fourhundred</option>
    <option value="500">fivehundred</option>
  </select>
  <p> Pick your travel load. </p>
  <select name="Amount of Planned Activity">
    <option value="light">light</option>
    <option value="medium">medium</option>
    <option value="busy">busy</option>
  </select>
</div>
        <input type="checkbox" name="Madrid" value = "Spain">Madrid<br>
        <input type="checkbox" name="Berlin" value = "Germany">Berlin<br>
        <input type="checkbox" name="London" value = "England">London<br>
        <input type="checkbox" name="Rome" value = "Italy">Rome<br>
        <input type="checkbox" name="Paris" value = "France">Paris<br>
<form action="/Daphne" method="post">
  <div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select>
        <option>Select your interests</option>
      </select>
    <div id="checkboxes2">
      <label for="Modern Art">
        <input type="checkbox" id="Modern Art" />ModernArt</label>
      <label for="Historic Art">
        <input type="checkbox" id="Historic Art" />HistoricArt</label>
      <label for="Architecture">
        <input type="checkbox" id="Architecture" />Architecture</label>
      <label for="Outdoors">
        <input type="checkbox" id="Outdoors" />Outdoors</label>
      <label for="Night Life">
        <input type="checkbox" id="Night Life" />NightLife</label>
      <label for="Churches and Temples">
        <input type="checkbox" id="Churches and Temples" />ChurchesandTemples</label>
      <label for="Markets">
        <input type="checkbox" id="Markets" />Markets</label>
      <label for="Movies">
        <input type="checkbox" id="Movies" />Movies</label>
    </div>
  </div>
</div>
<input type="submit" value="Submit">
</form>
</html>
<!-- Any additional JavaScript files you want to include -->
